* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  font-size: 14px;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  line-height: 1.6em;
}
body p {
  margin: 10px 0;
}
body .main {
  width: 100%;
  margin: 0 auto 50px;
}
#lv-container {
  max-width: 800px;
  margin: 0 auto;
}
.jiathis_style a:first-child span {
  margin-left: 5px;
}
.jiathis_style a .jtico {
  margin: 0 2px;
}
.archive {
  margin: 1em auto;
  padding: 30px 50px;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #368ccb;
  text-decoration: none;
}
.header {
  padding: 1em 0;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header .blog-title .logo {
  color: #aaa;
  font-size: 1.5em;
  font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
  text-decoration: none;
  margin-left: 10px;
}
.header .menu {
  margin: 0;
  padding: 0;
}
.header .menu .menu-item {
  display: inline-block;
  margin-right: 10px;
}
.header .menu .menu-item-link {
  color: #aaa;
  text-decoration: none;
}
.header .menu .menu-item-link:hover {
  color: #368ccb;
}
blockquote,
article pre,
article .highlight {
  background-color: #f7f7f7;
  border-left: 6px solid #b4b4b4;
  margin: 10px 0;
  padding: 15px 20px;
  overflow: auto;
  color: #555;
  line-height: 22.400000000000002px;
}
article .highlight .gutter pre,
article .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
article pre,
article code {
  font-family: font-mono;
}
article code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
article pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
article .highlight {
  border: none;
}
article .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
article .highlight table {
  margin: 0;
  width: auto;
}
article .highlight td {
  border: none;
  padding: 0;
}
article .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
article .highlight figcaption a {
  float: right;
}
article .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
article .highlight .line {
  height: 22.400000000000002px;
}
article .highlight .line.marked {
  background: #515151;
}
article .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #f7f7f7;
  padding: 15px 20px 15px 0;
}
article .gist .gist-file {
  border: none;
  font-family: font-mono;
  margin: 0;
}
article .gist .gist-file .gist-data {
  background: none;
  border: none;
}
article .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
article .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
article .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
article .gist .gist-file .gist-meta {
  background: #f7f7f7;
  color: #999;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
article .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
article .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
.post {
  max-width: 800px;
  margin: 0em auto 1em;
  padding: 30px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
.post .post-content p:first-child {
  margin: 10px 0;
  font-size: 12px;
}
.post .post-meta {
  font-size: 12px;
}
.post .share_style {
  display: flex;
}
.post .share_style div {
  padding-top: 5px;
}
.post .share_style img {
  display: inline-block;
  margin: 0 10px;
}
.toTopAnchor {
  position: fixed;
  bottom: 20px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(238,238,238,0.62);
  border: 1px solid #ccc;
  text-decoration: none;
}
.toTopAnchor i {
  font-size: 45px;
  text-align: center;
  display: block;
  color: #ccc;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.posts .post {
  border: none;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-container {
  margin: 0em auto 1em;
  max-width: 800px;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.posts .post-image {
  background: #ccc;
  margin: 0;
  padding: 0;
  min-height: 100px;
  width: 100%;
}
.posts .post-image img {
  height: 100%;
}
.posts .post-title {
  font-size: 1em;
}
.posts .post-title .post-title-link {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-content a {
  color: inherit;
  text-decoration: none;
}
.posts .post-content a p:first-child {
  font-size: 14px;
}
.posts .post-content a:hover {
  text-decoration: underline;
}
.posts .post-meta {
  color: #bababa;
}
.slogan-container {
  min-height: 300px;
  padding: 30px;
  margin-bottom: 100px;
  color: #555;
}
.slogan-container .img-container {
  background: #fff;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 50px auto 0;
  box-shadow: 0 0 20px #dcdcdc;
}
.slogan-container img {
  padding-top: 40px;
}
