.header
  padding: 1em 0
  border: 1px solid color-border
  box-shadow: 0 0 2px color-border
  display: flex
  align-items: baseline
  justify-content: space-between
  .blog-title .logo
    color: color-header
    font-size: 1.5em
    font-family: "Comic Sans MS",cursive,LiSu,sans-serif
    text-decoration: none
    margin-left: 10px
  .menu
    margin: 0
    padding: 0
    .menu-item
      display: inline-block
      margin-right: 10px
    .menu-item-link
      color: color-header
      text-decoration: none
      &:hover
        color: #368CCB