.post {
  margin: 0em auto 1em;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.posts  {
  .post-container {
    max-width: 800px;
    margin: 0 auto;
  }
  .post-image {
    background: #ccc;
    margin: 0;
    padding: 0;
    min-height: 100px;
    width: 100%;
    // overflow: hidden;
    img { height: 100% }
  }
  .post:first-child {
    margin-top: 0;
  }
  .post-title {
    font-size: 1em;
    .post-title-link {
      color: #368CCB;
      text-decoration: none;
    }
  }
  .post-content {
    font-size: 12px;
    a {
      color: #368CCB;
      text-decoration: none;
    }
  }
  .post-meta {
    color: #BABABA;
  }
}