.slogan-container
  background: color-background
  min-height: slogan-height
  padding: slogan-padding
  margin-bottom slogan-margin
  color: color-default
  .img-container
    background: white
    border-radius: 50%
    width: 200px
    height: 200px
    margin: 0 auto
    box-shadow: 0 0 20px gainsboro
  img
    margin-top: 40px