.slogan-container
  // background: color-background
  min-height: slogan-height
  padding: slogan-padding
  margin-bottom slogan-margin
  color: color-default
  .img-container
    background: white
    border-radius: 50%
    width: 250px
    height: 250px
    margin: 50px auto 0
    box-shadow: 0 0 20px gainsboro
  img
    padding-top: 40px