* {
 margin:0;
 padding:0;
}
body {
  min-height:100%;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
.main {
  width: 100%
  margin: 0 auto 50px;
}

#uyan_frame {
  margin: 20px;
}

@import "_partial/archive";
@import "_partial/header";
@import "_partial/footer";
@import "_partial/post";
@import "_partial/slogan";