* {
 margin:0;
 padding:0;
}
body {
  min-height:100%;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.main {
  margin: 0 auto 50px;
}

@import "_partial/archive";
@import "_partial/header";
@import "_partial/footer";
@import "_partial/post";
@import "_partial/slogan";