* {
 margin:0;
 padding:0;
}
body {
  min-height:100%;
  font-size: 1rem;
  line-height: 1.5em;
  p {
    margin: 10px 0;
  }
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
.main {
  width: 100%
  margin: 0 auto 50px;
}

// #uyan_frame {
//   margin: 20px;
// }

// comment container
#lv-container {
  max-width: 800px;
  margin: 0 auto;
}

@import "_partial/archive";
@import "_partial/header";
@import "_partial/footer";
@import "_partial/post";
@import "_partial/slogan";